{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Tarefas</h1>
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}

        {% endfor %}

        <div class="row mb-4">
            <div class="col-md-12">
                <form action="." class="form-inline" method="POST" novalidate>
                    {% csrf_token %}
                    <div class="form-group mx-sm-3">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}: </label>
                        {% render_field form.name class="form-control" %}
                    </div>
                    <input type="submit" class="btn btn-success" value="Adicionar" />
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-hovered">
            <thead>
                <tr>
                    <th>Tarefa</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>